<div class="col-lg-4" style="margin-top:10px">
  <div class="card" style="width: 18rem">
    <img
      src=<%= img[i].link %> 
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><%= img[i].name %></h5>
      <p class="card-text">
        <%= img[i].creator%>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
