<%- include('partials/header.ejs')  %> 

<div class="container">
    <div class="row">
    <% for(i=0;i<(img.length);i++){ %>
        <%-include('partials/card.ejs') %> 
        
    <% } %> 


    
    </div>
</div>


<%- include('partials/footer.ejs')  -%> 